.poke-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 
        0px 4px 9px 0 rgba(0,0,0,.1), 
        0px 0px 20px 0 rgba(0,0,0,.05);
    position: relative;
    background-color: rgba(255, 255, 255, .5);
}

.poke-list-item .poke-img {
    background: #f5f5f5cc;
    border-radius: 50%;
    margin-right: 30px;
    padding: 10px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.15);
}

.poke-list-item .poke-info {
    text-align: left;
}

.poke-list-item .poke-info .poke-name {
    font-size: 21px;
    font-weight: 500;
}

.poke-list-item 
.poke-info 
.poke-name::first-letter {
    text-transform: uppercase;
}

.poke-list-item .btn-view {
    position: absolute;
    top: 14px;
    right: 18px;
}